#repl pre {
    padding: 1em;
    margin:1px;
}

#repl .read:before {
    content: "js> "
}

#repl .read {
    background: #ffffce;
}

#repl .read:last-child:after {
    content: "|";
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}

#repl .print {
    background: #ceffce;
}

#repl .err {
    background: #ffcece;
}